body{
	background-color: lightgray;
}
#container{
	-webkit-box-shadow: 0 10px 15px rgba(10, 16, 17, 0.7);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#this-carousel-id {
    background: rgba(0, 0, 0, 0.81);
}
.content {
    background-color: white;
    height:auto;
}
.carousel-title {
    font-variant: normal;
    font-style: oblique;
    font-size: 16px;
}
    
.image-news-content {
    margin-right:4px; 
}

#footer-div
{
  position:relative;
}
#footer-div .child-footer
{
  position:absolute;
  bottom:0;
  left:0;
}

.detail {
    font-size: small;
    text-overflow: ellipsis; /* will make [...] at the end */
    overflow:hidden;
    max-height:initial;
    line-height: normal;
}

#news-detail-container {
    border-right:1px solid lightgray;
    margin-top:20px;
    margin-bottom:20px;
}

.divider-orange {
    height:5px;
    background-color:#EC571C; 
    width:100%;
}

.detail-header {
    border-bottom: 1px solid lightgray;
}
.text-header-orange {
    color: #EC571C;
}
.link-reference {
    font-size: small;
    line-height: normal;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    .detail {
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

.content-item {
    height: 170px;
    border-bottom:1px dashed mediumseagreen;
}